apiVersion: v1
kind: Service
metadata:
  name: zookeeper-headless
  namespace: elastic
  labels:
    app: zookeeper
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: client
    port: 2181
    targetPort: client
  - name: follower
    port: 2888
    targetPort: follower
  - name: election
    port: 3888
    targetPort: election
  selector:
    app: zookeeper